@model string  

@{ 
    var uri = $"/OAuth/Authorize{Model}";
}

<form action="@uri" method="post">
    <input type="text" name="username" value=""/>
    <input type="submit" value="Submit" />
</form>